
<!-- <h3>{{name}}</h3> -->
<!-- <div>
    <h3 ><a routerLink="/user">user</a>
    </h3>
    <h4><a routerLink="/login">login</a></h4>
    
    
</div> -->
<!-- <nav class="navbar navbar-expand-lg bg-tertiary">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link text-black" routerLinkActive="active" routerLink="/user">user</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link text-black" routerLinkActive="active" routerLink="/login">login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  
  
   -->

   <!-- <app-create-emp></app-create-emp> -->

   <app-emplist></app-emplist>